<template>
  <section>
    <section>
      <h2>Leo Carbajal</h2>
      <p class="smaller faded">I am not a learnologist but I did learn things.</p>
      <p>Full-Stack Engineer @ Northwestern Mutual</p>
      <p><a target="blank" href="https://www.linkedin.com/in/leocarbajal/">https://www.linkedin.com/in/leocarbajal/</a></p>
    </section>

    <section>
      <h2>A Brief Timeline of Leo</h2>
      <p>I was born. ('83)</p>
      <div class="box">
          <div class="col fragment fade-in-then-shrink-out">
            <img src="/robocop.jpg" />
          </div>
          <div class="col fragment fade-in-then-shrink-out">
            <img src="/terminator.jpg" />
          </div>
      </div>
    </section>

    <section>
      <h2>Moving on...</h2>
      <ul>
        <li class="fragment fade-in-then-semi-out">Dropped out of high-school.</li>
        <li class="fragment fade-in-then-semi-out">Worked on website/intranet for Income Tax business.</li>
        <li class="fragment fade-in-then-semi-out">Work. Work. GED + Tech School.</li>
        <li class="fragment fade-in-then-semi-out">Private Web Design Business!</li>
        <li class="fragment fade-in-then-semi-out">Woops.</li>
      </ul>
    </section>

    <section>
      <h2>Time Passes</h2>
      <ul>
        <li class="fragment fade-in-then-semi-out">Start College (#English4Lyfe)</li>
        <li class="fragment fade-in-then-semi-out">Started out writing help desk tools and utilities.</li>
        <li class="fragment fade-in-then-semi-out">Went on to become 'assistant software dev'.</li>
        <li class="fragment fade-in-then-semi-out">Became a consultant, learning, applying and teaching SCRUM/Agile methodologies.</li>
        <li class="fragment fade-in-then-semi-out">Full Stack Engineer on Digital Innovation Team</li>
      </ul>
    </section>

    <section>
      <h2>Conclusion</h2>
      <p>Can confirm. Am Nerd.</p>
      <p class="fragment fade-in-then-semi-out">
        I am an autodidact. <span class="smaller faded">* not a type of dinosaur</span> <br>
        <img src="dinosaur.jpg"/>
      </p>
    </section>

    <section>
      <h2>I Learned Things</h2>
      <ul>
        <li class="fragment fade-in-then-semi-out">Learned HTML/JS/PHP by "borrowing" editor code.</li>
        <li class="fragment fade-in-then-semi-out">Learned scripting in IRC clients. (mIRC)</li>
        <li class="fragment fade-in-then-semi-out">Learned .NET from Books + MSDN (documentation)</li>
        <li class="fragment fade-in-then-semi-out">Learned Agile, Node, Python, and much much more on the job.</li>
      </ul>
    </section>

  </section>
</template>
