<template>
  <section>
    <section><h1>Imposter Syndrome</h1></section>
    <section>
      <h2>Who am I? What do I know?</h2>
      <p class="fragment fade-in">Everybody is clueless at some point.</p>
      <p class="fragment fade-in">It's ok not to know.</p>
      <p class="fragment fade-in">Overcome fear by doing.</p>
    </section>
  </section>
</template>
