<template>
  <section>
    <section>
      <h1>Learn Club</h1>
      <p class="smaller">Also known as four good points to keep in mind at all times.</p>
      <p class="smaller faded">This <em>is</em> my gold material</p>
    </section>
    <section>
      <h2>1st Rule of Learn Club</h2>
      <h3 class="smaller">Talk About Learn Club</h3>
      <p class="fragment fade-in-then-semi-out">
        Share articles, videos, tutorials and links. <br>
        <img src="wombat.png" width="50%"/>
      </p>

      <p class="fragment fade-in-then-semi-out">Follow shared articles, videos, tutorials and links!</p>
    </section>
    <section>
      <h2>2nd Rule of Learn Club</h2>
      <h3 class="smaller">Failure is a Critical Part of Learning</h3>
      <p class="fragment fade-in-then-semi-out">Learning is a skill.</p>
      <p class="fragment fade-in-then-semi-out">Think then ask.</p>
      <p class="fragment fade-in-then-semi-out">Failing is more instructive than success.</p>
    </section>
    <section>
      <h2>3rd Rule of Learn Club</h2>
      <h3 class="smaller">Be Kind to Yourself (and others)</h3>
      <p class="fragment fade-in-then-semi-out">Learn about <em>yourself</em>.</p>
      <p class="fragment fade-in-then-semi-out">Everyone learns differently.</p>
      <p class="fragment fade-in-then-semi-out">Don't judge yourself based on how other's learn.</p>
      <p class="fragment fade-in-then-semi-out">Asking for help is not a weakness.</p>
    </section>
    <section>
      <h2>4th Rule of Learn Club</h2>
      <h3 class="smaller">Accept That You Won't Know Everything</h3>
      <p class="fragment fade-in-then-semi-out">Just. Not. Possible.</p>
      <p class="fragment fade-in-then-semi-out">Make mental bookmarks.</p>
      <p class="fragment fade-in-then-semi-out">Leverage the internet. <span class="smaller faded">* of course I mean Google</span></p>
    </section>
  </section>
</template>
