<template>
  <section>
    <section>
      <h1>Practical Tips</h1>
    </section>
    <section>
      <h2>RTFM</h2>
      <p class="fragment fade-in-then-semi-out">Read the documentation, starter's guide, and anything else on offer.</p>
      <p class="fragment fade-in-then-semi-out">
        Examples: <br>
        <a href="https://reactjs.org/docs/getting-started.html" target="_blank">React Docs</a><br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array" target="_blank">MDN (Mozilla Developer Network)</a><br>
        <a href="https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netframework-4.8" target="_blank">MSDN (Microsoft Developer Network)</a><br>
      </p>
    </section>
    <section>
      <h2>Collect Reliable Info Sources & Tools</h2>
      <h3 class="smaller">Hoard content creator sites and tools, but discard as needed.</h3>
      <p class="fragment fade-in-then-semi-out">
        Examples: <br>
        <a href="https://caniuse.com" target="_blank">caniuse.com</a><br>
        <a href="https://css-tricks.com/" target="_blank">css-tricks.com</a><br>
        <a href="https://stackoverflow.com" target="_blank">Stack Overflow</a><br>
      </p>
    </section>
    <section>
      <h2>Look at Other People's Code</h2>
      <h3 class="smaller">Be actively curious and dig in.</h3>
      <p class="fragment fade-in-then-semi-out">
      Examples: <br>
        Chrome Console & Debugging Tools (!important)<br>
        CodePen, GitHub, etc. <br>
      </p>
    </section>
    <section>
      <h2>Level Up Your Google-fu</h2>
      <p class="fragment fade-in-then-semi-out">Google an error message + language/framework keywords.</p>
      <p class="fragment fade-in-then-semi-out">Add the current year to get modern answers.</p>
      <p class="fragment fade-in-then-semi-out">Add a specific site/resource to your query</p>
    </section>
    <section>
      <h1>Make Stuff</h1>
    </section>
  </section>
</template>
