<template>
  <section>
    <section><h1>Dev Survival Guide</h1></section>
    <section>
      <h2>What? Ninjas? Pirates?</h2>
      <p class="fragment fade-in">Tools, languages and frameworks are emerging & evolving at a rapid pace.</p>
      <p class="fragment fade-in">We, as developers, must continue to learn and evolve our skillsets.</p>
      <p class="fragment fade-in">Cultivating a mindset of learning is critical to survival.</p>
    </section>
  </section>
</template>
