<template>
  <div id="app">
    <div class="reveal">
      <div class="slides">
        <template v-for="name in slideNames">
          <component :is="name" :key="name"></component>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import Reveal from "reveal.js/js/reveal";
window.Reveal = Reveal;

import configHighlight from "./utils/reveal-highlight";
import Slides from "./learn-slides";

export default {
  name: "app",
  components: Slides,
  mounted() {
    Reveal.initialize();
    configHighlight();
  },
  computed: {
    slideNames() {
      return Object.keys(Slides);
    }
  }
};
</script>

<style lang="scss">
@import url("../node_modules/reveal.js/css/reveal.css");
@import url("../node_modules/reveal.js/css/theme/black.css");
@import url("../node_modules/highlight.js/styles/agate.css");

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  height: 100vh;
}

.box {
  display: flex;
}

.col {
  flex: 1;
}

.smaller {
  font-size: 80% !important;
}

.faded {
  opacity: 0.8 !important;
}

.resize-h {
  resize: horizontal;
  overflow: hidden;
  background: gray;
  text-align: left;

  iframe {
    width: 98%;
    height: 100%;
  }
}

.reveal .slides section .fragment.fade-in-then-strike-out {
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 0.8;
    visibility: inherit;
    text-decoration: line-through;
  }

  &.current-fragment {
    opacity: 1;
    visibility: inherit;
    text-decoration: none;
  }
}

.reveal .slides section .fragment.fade-in-then-shrink-out {
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 0.8;
    transform: scale(0.8);
    visibility: inherit;
  }

  &.current-fragment {
    opacity: 1;
    transform: scale(1);
    visibility: inherit;
  }
}
</style>
